.wd-bg{
    background-color: black;
    border-color:rgb(47, 51, 54);
}
.wd-gray-space{
    background-color: darkgray;
    height: 5px;
}
.wd-content-padding{
    padding-left: 16px;
}
.wd-letters{
    font-size: 35px;
    color: white;
}
.wd-search-bar-div{
    margin-top: 10px;
    margin-bottom: 20px;

}

.wd-grid-row{
    clear: both;
}
.wd-grid-left-search{
    float: left;
    width: 5%;
}
.wd-grid-main-search{
    float: left;
    width: 90%;
}
.wd-grid-right-search{
    float: left;
    width: 4%;
    margin-right: 12px;
}
.wd-search-bar{
    border-radius: 20px;
    height: 30px;
    background: darkgray;
    width:92%;
    border-color: darkgray;
    border: 1px solid darkgray;
}
::placeholder{
    color:white;
    padding-left: 20px;
}
.wd-links-div{
    margin-top: 10px;
    margin-bottom: 60px;
}
.wd-grid-left-link{
    float: left;
    width: 5%;
}
.wd-grid-right-link{
    float: left;
    width: 13%;
}

.wd-highlighted-link{
    padding: 16px 0px;
    margin: 0px 16px;
    font-size: 15px;
    color: rgb(29,161,242);

}
#wd-a-highligght{
    text-decoration: none;
    color: darkgray;
    color: rgb(29,161,242);

}
a{
    text-decoration: none;
    color: darkgray;
}
.wd-links-content{
    padding: 16px;
    font-size: 15px;
    color: gray;
}

.wd-posts-div{
    margin-top: 20px;
    margin-bottom: 100px;
}
.wd-grid-left-posts{
    float: left;
    width: 5%;
}
.wd-grid-right-posts{
    float: left;
    width: 95%;
}
.wd-topic{
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-title{
    font-size: 20px;
    color: white;
}
.wd-grid-left-posts-pic{
    float: left;
    width: 5%;
}
.wd-grid-middle-posts-pic{
    float: left;
    width: 90%;
}
.wd-grid-right-posts-pic{
    float: left;
    width: 8%;
    margin-right: 16px;
}
.wd-posts-pic{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: black;
}
.wd-author{
    color: white;
}

.wd-posts-other-div{
    margin-top: 75px;
    border-bottom: 0.5px darkgray solid;
}

