.wd-zero-right-border{
    border-right: transparent;
}
.wd-rounded-buttons{
    border-radius: 20px;
}

.fg-color-blue{
    color: mediumslateblue;
}

.wd-overlay-name{
    bottom: 60px;
    color: white;
    font-size: 40px;
}

.wd-gray-color{
    color:gray;
}

.wd-main-content-borders{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.wd-rounded-images{
    border-radius: 50%;
}